<!DOCTYPE html>
<html ng-app="qapiApp">
<head>
  <title>QapiGame</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    window.onerror = function (errorMsg, url, lineNumber, columnNumber, errorObject) {
      console.log(errorObject);
      console.log(lineNumber);
      console.log(columnNumber);
    }
  </script>
  </head>
<body>

<header ng-class="{blur: !menuhidden}">
      <nav class="navbar" role="navigation">
        <span class="navbar-left qapi-font toggleMenu" ng-click="toggleMenu()">&#xe600;</span>
        <%= image_tag "logo.svg", :class => "logo" %>
        <div class="clear"></div>
      </nav>
    </header>

    <!-- Add your site or application content here -->
		<%= yield %>

    <footer ng-class="{blur: !menuhidden}">

    </footer>

    <div class="menu-container" ng-class="{show: !menuhidden}">
        <div class="menu-container-content">
            <div class="menu-header">
              <span class="navbar-left qapi-font toggleMenu" ng-click="toggleMenu()">&#xe600;</span>
              <%= image_tag "logo.svg", :class => "menu-logo" %>
              <div class="clear"></div>
            </div>
            <div class="user-data">
              <span class="user-img"></span>
              <span class="name">{{player.email}}</span>
              <div class="clear"></div>
            </div>
            <nav class="menu-links">
                <a href="#" ng-click="toggleMenu()"><div class="hoverlink"></div>Home</a>
                <a href="#about" ng-click="toggleMenu()"><div class="hoverlink"></div>About</a>
                <a href="#games" ng-click="toggleMenu()"><div class="hoverlink"></div>Games</a>
                <a href="#logout" ng-click="toggleMenu();logout();"><div class="hoverlink"></div>Logout</a>
            </nav>
        </div>
    </div>
  </body>
</html>
