<!DOCTYPE html>
<html ng-app="qapiApp">
<head>
  <title>QapiGame</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    window.onerror = function (errorMsg, url, lineNumber, columnNumber, errorObject) {
      console.log(errorObject);
      console.log(lineNumber);
      console.log(columnNumber);
    }
  </script>
  </head>
<body>

<header ng-class="{blur: !menuhidden}">
  <nav class="navbar" role="navigation">
    <span ng-show="userIsLoggedIn" class="navbar-left qapi-font toggleMenu" ng-click="toggleMenu()">&#xe600;</span>
    <%= image_tag "logo.svg", :class => "logo" %>
    <div class="clear"></div>
  </nav>
</header>

<!-- Add your site or application content here -->
<%= yield %>

<footer ng-class="{blur: !menuhidden}">

</footer>

<div class="menu-container" ng-class="{show: !menuhidden}">
  <div class="menu-container-content">
    <div class="menu-header">
      <span class="navbar-left qapi-font toggleMenu" ng-click="toggleMenu()">&#xe600;</span>
      <%= image_tag "logo.svg", :class => "menu-logo" %>
      <div class="clear"></div>
    </div>
    <div class="user-data" ng-show="userIsLoggedIn">
      <a href="#/users/{{currentUser.id}}" class="user-img" ng-click="toggleMenu()"></a>
      <a href="#/users/{{currentUser.id}}" class="name" ng-click="toggleMenu()">{{currentUser.email}}</a>
      <div class="clear"></div>
    </div>
    <nav class="menu-links" ng-show="userIsLoggedIn">
      <a href="#" ng-click="toggleMenu()"><div class="hoverlink"></div>Home</a>
      <!-- <a href="#about" ng-click="toggleMenu()"><div class="hoverlink"></div>About</a> -->
      <a href="#users" ng-click="toggleMenu()"><div class="hoverlink"></div>Users</a>
      <a href="#games" ng-click="toggleMenu()"><div class="hoverlink"></div>Games <span ng-show="numOfRunningGames>0">{{numOfRunningGames}}</span></a>
      <a href="#login" ng-click="toggleMenu();logout();"><div class="hoverlink"></div>Logout</a>
    </nav>
  </div>
</div>
</body>
</html>
